body {
    font: 16px/1.5em Helvetica, Arial, sans-serif;
    color: #111;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    max-width: 1024px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h2 {
    font-weight: normal;
    font-size: 24px;
    margin-top: 0;
}

h3 {
    margin-bottom: 20px;
}

.description {
    margin: 0 0 20px;
}

.value, .percent, .points {
    text-align: right;
}

th, td {
    width: 33.3333%;
}

.diff th, td {
    width: 25%;
}

th {
    font-weight: normal;
    color: #666;
}

.table-striped>tbody>tr.total {
    background-color: rgba(91, 192, 222, 0.15);
}

.ga-name {
    color: #666;
    font-size: 13px;
    font-weight: normal;
    margin-left: 10px;
}

.sample-size {
    color: #666;
    font-size: 13px;
    font-weight: normal;
}

.query {
    margin-bottom: 50px;
}

footer p {
    font-size: 13px;
    color: #666;
}


/* Diff only */
.positive { color: hsl(120, 39%, 40%); }
.positive::before { content: "+"; }
.negative { color: #d9534f; }
