<html>
    <head>
        <style>
            {% include 'styles.css' %}
        </style>
    </head>
    <body>

    </body>
        <h1>clan diff</h1>

        <h2>Report A run {{ diff.a.run_date }}</h2>

        <dl>
            {% for arg in GLOBAL_ARGUMENTS %} 
            <dt>{{ arg }}</dt><dd>{{ diff.a[arg] }}</dd>
            {% endfor %}
        </dl>

        <h2>Report B run {{ diff.b.run_date }}</h2>

        <dl>
            {% for arg in GLOBAL_ARGUMENTS %} 
            <dt>{{ arg }}</dt><dd>{{ diff.b[arg] }}</dd>
            {% endfor %}
        </dl>

        <h2>Results</h2>

        {% for query in diff.queries %}
        <div class="query">
            <h3>{{ query.config.name }}</h3>

            {% for metric, data in query.data.items() %}
            <div class="metric">
                <h4>{{ metric }}</h4>
            
                {% set data_type = query.data_types[metric] %}

                <table>
                    <tr>
                        <th class="value">Value change</th>
                        <th class="percent">Percent change</th>
                        <th class="points">Percentage point change</th>
                        <th class="label">Label</th>
                    </tr>
                    {% for label, values in data.items() %}
                    <tr>
                        {% set nc = number_class(values.change) %}
                        {% if data_type == 'INTEGER' %}
                            <td class="value {{ nc }}">{{ format_comma(values.change) }}</td>
                        {% elif data_type == 'TIME' %}
                            <td class="value {{ nc }}">{{ format_duration(values.change) }}</td>
                        {% else %}
                            <td class="value {{ nc }}">{{ '{:.1f}'.format(values.change) }}</td>
                        {% endif %}
                        <td class="percent {{ number_class(values.percent_change) }}">
                            {% if values.percent_change == None %}
                            -
                            {% else %}
                            {{ '{:.1%}'.format(values.percent_change) }}
                            {% endif %}
                        </td>
                        <td class="points {{ number_class(values.point_change) }}">
                            {% if values.point_change == None %}
                            -
                            {% else %}
                            {{ '{:.1f}'.format(values.point_change * 100) }}
                            {% endif %}
                        </td>
                        <td class="label">{{ label }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </body>
</html>
