<html>
    <head>
        <meta charset="UTF-8">
        <style>
            {% include 'bootstrap.min.css' %}
            {% include 'styles.css' %}
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <h1>{{ report.title }}</h1>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Configuration</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arg in GLOBAL_ARGUMENTS %} 
                    {% if report[arg] != None %}
                    <tr>
                        <td>{{ arg }}</td>
                        <td>{{ report[arg] }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            {% for query in report['queries'] %}
            <div class="query">
                <h3>{{ query.config.name }}</h3>

                {% if query.config.description %}
                <p class="description">{{ query.config.description }}</p>
                {% endif %}

                {% for metric, data in query.data.items() %}
                <div class="metric">
                    {% if metric in field_definitions %}
                    <h4>
                        {{ field_definitions[metric]['uiName'] }}
                        <span class="ga-name">{{ metric }}</span>
                    </h4>
                    {% else %}
                    <h4>{{ metric }}</h4>
                    {% endif %}

                    <table class="table table-striped table-bordered table-consdensed">
                        <thead>
                            <tr>
                                <th>Dimension(s)</th>
                                <th class="value">Value</th>
                                <th class="percent">Percent of total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for label, value in data.items() %}
                            <tr class="{% if label == 'total' %}total{% endif %}">
                                <td>{{ label }}</td>

                                {% set data_type = query.data_types[metric] %}
                                {% set total = data.total %}

                                {% if data_type == 'INTEGER' %}
                                <td class="value">{{ format_comma(value) }}</td>
                                <td class="percent">
                                    {% if total > 0 %}
                                    {{ format_percent(value, total) }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                {% elif data_type == 'TIME' %}
                                <td class="value">{{ format_duration(value) }}</td>
                                <td class="percent">-</td>
                                {% else %}
                                <td class="value">{{ '{:.1f}'.format(value) }}</td>
                                <td class="percent">-</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}

                {% if query.sampled %}
                    <span class="sample-size">Based on a sample of {{ (query.sampleSize / query.sampleSpace * 100)|round(1) }}% of sessions.</span>
                {% endif %}
            </div>

            {% endfor %}
            <footer>
                <p>Report generated with <a href="http://github.com/onyxfish/clan">clan v. 0.1.4</a> on {{ report.run_date }}</p>
            </footer>
        </div>
    </body>
</html>
