dt { font-weight: bold; }

.query { margin-left: 40px; }
.metric { margin-left: 40px; }
table { margin-left: 40px; }

th,td { padding-left: 10px; padding-right: 10px; }
.value { text-align: right }
.percent { text-align: right }
.points { text-align: right }
.label { text-align: left; }

/* Diff only */
.positive { color: green; }
.negative { color: red; }

